.carousel {
    display: inline-flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}
/*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  /* all be
